.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 199;
    border-bottom: 1px solid #dcdcdc;
}

.header-logo{
    padding: 0 22px;
    background-color: #b5d8f7; 
    display: flex;
    align-items: center;
    height: 110px;
}

.header-navbar{
    display: flex;
    align-items: center;
    width: 515px;
    ul{
        display: flex;
        list-style-type:none;
        justify-content: space-between;
        width: 100%;
        li{
            display: flex;
            width: 99px;
            height: 80px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            outline: 2px solid transparent;
        }
        li:hover{
            outline: 2px solid #b5d8f7;
        }
    }
    li a{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        text-decoration:none;
        width: 100%;
        height: 100%;
        margin-top: 20px;
        img{
            width: 30px;
            height: 30px;
        }
        span{
            color: black;
            margin-top: 10px;
            font-size: 16px;
            font-weight: bold;
        }
    }
}



.btn{
    display: flex;
    align-items: center;
    padding: 10px 15px 11px;
    background: #b5d8f7;
    border: 2px solid #b5d8f7;
    border-radius: 10px;
    line-height: 1em;
    text-transform: none;
    cursor: pointer;
    img{
        margin-right: 10px;
    }
    span{
        align-items: center;
        font-size: 14px;
        line-height: 1em;
        font-weight: bold;
        color: #252525;
    }
}

.btn:hover{
    background-color: white;
}

.header-info{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    a{
        font-size: 18px;
        font-weight: bold;
        line-height: 1em;
        color: #252525;
        margin-bottom: 5px;
    }
    .header-work-time{
        font-size: 14px;
        line-height: 1.2em;
        color: #5a5a5a;
        b{
            color: black;
        }
    }
}

.header-basket{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 154px;
    width: 100%;
    height: 110px;
    cursor: pointer;
    background-color: #b5d8f7;
    img{
        margin-right: 10px;
    }
    span{
        margin-right: 5px;
    }
}

.header-burger{
    outline: 2px solid transparent;
    padding: 7px;
    border-radius: 10px;
    position: absolute;
    left: 860px;
    background-color: white;
}

.header-burger:hover{
    outline: 2px solid #b5d8f7;
}

.burger-module{
    background-color: white;
    .module-container{
        ul{
            list-style-type:none;
            a{
                text-decoration: none;
                color: black;
                padding: 5px;
                border-radius: 8px;
            }
            a:hover{
                outline: 2px solid #b5d8f7;

            }
        }
    }
}

.open-burger{
    outline: 2px solid #b5d8f7;
    left: 808px;
    top: 20px;
    padding-bottom: 100px;
    ul{
        margin-top: 30px;
        li{
            margin-top: 20px;
        }
    }
}


#nav-icon3{
    width: 30px;
    height: 30px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span{
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: rgb(83, 83, 83);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
    top: 0px;
}
  
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 11px;
}
  
#nav-icon3 span:nth-child(4) {
    top: 22px;
}
  
#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
  
#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.header-user{
    padding: 10px;
    outline: 2px solid transparent;
    cursor: pointer;
}

.header-user:hover{
    outline: 2px solid #b5d8f7;
    border-radius: 10px;
}

.header-basket-popup{
    position: absolute;
    right: 0;
    top: 110px;
    width: 50%;
    border-top: 1px solid #dcdcdc;
}

.top-block-basket{
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: space-around;
    img{
        width: 200px;
        height: 100px;
        object-fit: contain;
    }
    .count{
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        display: flex;
        padding: 8px;
        .count-item{
            margin: 0 10px;
        }
        input{
            border: none;
            width: 40px;
            padding-left: 10px;
            font-size: 16px;
        }
    }
    span{
        font-size: 16px;
        font-weight: bold;
        width: 190px;
    }
    .price{
        width: 40px;
    }
}

.bot-block-basket{
    height: 100px;
    background-color: #b5d8f7;
    background-image: url(https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg), url(https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg);
    background-repeat: repeat;
    background-position: 0 0, 190px -52px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    .total-price{
        font-size: 25px;
    }
    button{
        padding: 15px;
        font-size: 20px;
        border: none;
        background-color: white;
        border-radius: 10px;
        font-weight: bold;
    }
    button:hover{
        background-color: #b5d8f7;
        outline: 1px solid white;
        cursor: pointer;
    }
}

.delete{
    cursor: pointer;
}

.user-block{
    text-align: center;
}

