.container{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    justify-content: center;
}

.product-block{
    max-width: 25%;
    display: flex;
    justify-content: space-around;
    img{
        width: 550px;
        height: 230px;
        object-fit: contain;
        margin-bottom: 20px;
    }
    h3{
        font-size: 42px;
        font-weight: bold;
    }
    .right-block{
        margin-left: 150px;
        text-align: start;
        min-width: 550px;
    }
}

.desc-block{
    font-size: 18px;
    color: #5a5a5a;
    margin-bottom: 30px;
    .ingredients{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    span{
        color: #b5d8f7;
    }
}

.action-block{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    width: 100%;
    .count{
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        display: flex;
        padding: 8px;
        .count-item{
            margin: 0 10px;
        }
        input{
            border: none;
            width: 30px;
            padding-left: 10px;
            font-size: 16px;
        }
    }
}

.btn{
    padding: 14px;
    font-size: 16px;
    border: 1px solid #b5d8f7;
    background-color: #b5d8f7;
    border-radius: 10px;
    cursor: pointer;
    line-height: 14px;
    font-weight: bold;
}

.breadcrumbs{
    position: absolute;
    left: 20px;
    top: 120px;
    a{
        color: #5a5a5a;
    }
}