.header-margin{
    height: 110px;
}

.container{
    width: 100%;
    max-width: 1750px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.banners{
    display: flex;
    justify-content: space-between;
    img{
        border-radius: 8px;
    }
}

.after-banner-container{
    width: 100%;
    background-color: #b5d8f7;
    margin-top: 82px;
    border-radius: 8px;
    background-image: url(https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg) , url(https://monosushi.com.ua/wp-content/themes/monosushi/img/bg-monosushi-logo.svg);
    background-repeat: repeat;
    background-position: 0 0 , 190px -52px;
}

.after-banner{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    .delivery-zone{
        display: flex;
        align-items: center;
        img{
            width: 135px;
            height: 87px;
            margin-right: 35px;
        }
        .btn{
            padding: 16px 22px;
            border: 2px solid #fff;
            background-color: #fff;
            border-radius: 10px;
            color: black;
            font-size: 16px;
            line-height: 20px;
            font-weight: bold;
            cursor: pointer;
        }
        .btn:hover{
            background-color: #b5d8f7;
        }
    }
    .delivery-time{
        display: flex;
        align-items: center;
        img{
            width: 90px;
            height: 81px;
            margin-right: 35px;
        }
    }
    .work-time{
        display: flex;
        align-items: center;
        img{
            width: 75px;
            height: 94px;
            margin-right: 35px;
        }
    }
    .after-banner-info{
        text-align: center;
        font-size: 18px;
    }
}

.tabs{
    margin-top: 100px;
}

.products{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 50px;
}

.product-block{
    max-width: 25%;
    padding: 20px;
    border-radius: 10px;
    img{
        width: 360px;
        height: 150px;
        object-fit: contain;
        margin-bottom: 20px;
    }
    h3{
        font-size: 20px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;
    }
}

.product-block:hover{
    outline: 1px solid #b5d8f7;
}

.desc-block{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: #5a5a5a;
    margin-bottom: 30px;
    .weight{
        font-weight: bold;
    }
}

.action-block{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    .count{
        border: 1px solid #dcdcdc;
        border-radius: 10px;
        display: flex;
        padding: 8px;
        .count-item{
            margin: 0 10px;
        }
        input{
            border: none;
            width: 30px;
            padding-left: 10px;
            font-size: 16px;
        }
    }
}

.btn{
    padding: 14px;
    font-size: 16px;
    border: 1px solid #b5d8f7;
    background-color: #b5d8f7;
    border-radius: 10px;
    cursor: pointer;
    line-height: 14px;
    font-weight: bold;
}





