<form [formGroup]="authForm">
    <div *ngIf="!signUpCheck" class="form-input">
        <div class="form-group">
            <mat-form-field>
                <input matInput type="email" formControlName = "email" placeholder="*Ваш Email">
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field>
                <input matInput type="password" formControlName = "password" placeholder="*Password">
              </mat-form-field>
        </div>
    </div>
    <div *ngIf="signUpCheck">
        <div class="form-group d-flex">
            <mat-form-field class="mr">
                <input matInput type="text" formControlName = "firstName" placeholder="*Ваше ім'я">
              </mat-form-field>
            <mat-form-field>
                <input matInput type="text" formControlName = "lastName" placeholder="*Ваше прізвище">
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="w100">
                <input matInput type="text" formControlName = "phoneNumber" placeholder="*Ваш телефон">
              </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field class="w100">
                <input matInput type="email" formControlName = "email" placeholder="*Ваш Email">
              </mat-form-field>
        </div>
        <div class="form-group d-flex">
            <mat-form-field class="mr">
                <input matInput (input)="checkConfirmPassword()" type="password" formControlName = "password" placeholder="*Пароль">
              </mat-form-field>
            <mat-form-field>
                <input matInput (input)="checkConfirmPassword()" type="password" formControlName = "confirmPassword" placeholder="*Повторіть пароль">
              </mat-form-field>
        </div>
        <mat-error *ngIf="checkVisibilityControl('confirmPassword', 'matchError')">Пароль не співпадає</mat-error>
    </div>
    <button class="btn" mat-stroked-button *ngIf="!signUpCheck" mat-dialog-close (click)="login()">Увійти в кабінет</button>
    <button class="btn" mat-stroked-button *ngIf="signUpCheck" mat-dialog-close (click)="signUp()" [disabled]="authForm.invalid">Зареєструватись</button>
    <a (click)="openSignUp()" *ngIf="!signUpCheck">Зареєструватись</a>
    <a (click)="openSignUp()" *ngIf="signUpCheck">Вже зареєстровані? <b>Увійти</b></a>
</form>