.authForm{
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 13%;
    margin: 0 auto;
    margin-bottom: 20px;
    input{
        margin-bottom: 20px;
        padding: 10px;
        font-size: 20px;
        border-radius: 10px;
        border: 1px solid black;
    }
}

.btn{
    padding: 10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 10px;
    width: 13%;
}