<h1>Роли</h1>
<div class="container">
  <div class="tabs">
    <mat-tab-group>
        <mat-tab label="Всі">
          <div class="products">
            <div class="product-block" *ngFor="let product of userProducts">
              <img [src]="product.img" alt="">
              <h3>{{product.name}}</h3>
              <div class="desc-block">
                <div class="ingredients">{{product.ingredients}}</div>
                <div class="weight">{{product.weight}} г</div>
              </div>
              <div class="action-block">
                <div class="price"><b>{{product.price}}</b> грн</div>
                <div class="count">
                  <div class="count-item">- </div>
                  <div class="count-item">1 </div>
                  <div class="count-item">+ </div>
                </div>
                <button class="btn">Замовити</button>
              </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Філадельфія">
          <p>Нажаль товару ще немає!</p>
        </mat-tab>
        <mat-tab label="Каліфорнія">
          <p>Нажаль товару ще немає!</p>
        </mat-tab>
        <mat-tab label="Запечені">
          <p>Нажаль товару ще немає!</p>
        </mat-tab>
        <mat-tab label="Фірмові">
          <p>Нажаль товару ще немає!</p>
        </mat-tab>
        <mat-tab label="Макі">
          <p>Нажаль товару ще немає!</p>
        </mat-tab>
        <mat-tab label="Преміум">
          <p>Нажаль товару ще немає!</p>
        </mat-tab>
      </mat-tab-group>
</div>
</div>