@font-face {
    font-family: 'RotondaC';
    src: url('assets/custom-font/rotondac.otf') format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RotondaC', sans-serif;
    a{
      text-decoration:none;
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import 'app/shared/styles/_theme-material'
