<div class="container">
    <div class="choose-category">
        <a [routerLink]="[ '/admin/discounts']" routerLinkActive="active">Акції</a>
        <a [routerLink]="[ '/admin/category']" routerLinkActive="active">Категорії</a>
        <a [routerLink]="[ '/admin/products']" routerLinkActive="active">Товари</a>
        <a [routerLink]="[ '/admin/order']" routerLinkActive="active">Замовлення</a>
    </div>
    <div class="actions">
        <table>
            <tr>
                <td>№</td>
                <td>Користувач</td>
                <td>Замовлення</td>
                <td>Дата</td>
                <td>Статус</td>
                <td>Ціна</td>
                <td>Дії</td>
            </tr>
        </table>
    </div>
</div>